################################################################################
# {{ ansible_managed }}
################################################################################

{% if plugin_docker_enabled %}
# Documentation: https://www.nomadproject.io/docs/drivers/docker.html
plugin "docker" {
  config {
    allow_privileged = {{ plugin_docker_privileged | default(false) | bool | lower }}
    allow_caps       = ["ALL"] # Default: ["CHOWN", "NET_RAW"]

    gc {
      image       = true
      image_delay = "3h"
      container   = true

      dangling_containers {
        enabled        = true
        dry_run        = false
        period         = "5m"
        creation_grace = "5m"
      }
    }

    volumes {
      enabled      = true
      selinuxlabel = "z"
    }
  }
}
{% else %}
# INFO: 'docker' plugin NOT enabled in nomad
{% endif %}

{% if plugin_raw_enabled %}
# Documentation: https://www.nomadproject.io/docs/drivers/raw_exec.html
plugin "raw_exec" {
  config {
    enabled    = true
    no_cgroups = {{ plugin_raw_cgroups_disable | default(false) | bool | lower }}
  }
}
{% else %}
# INFO: 'raw_exec' plugin NOT enabled in nomad
{% endif %}

# ------------------------------------------------------------------------------
#                                                             COMMUNITY PLUGINS
# ------------------------------------------------------------------------------

{% if plugin_singularity_enabled %}
# Documentation: https://www.nomadproject.io/docs/drivers/external/singularity.html
plugin "nomad-driver-Singularity" {
  config {
    enabled          = true
    singularity_path = "{{ plugin_dir }}/singularity"
  }
}
{% else %}
# INFO: 'singularity' plugin NOT enabled in nomad
{% endif %}

{% if plugin_podman_enabled %}
# TODO: Not available yet!
# Documentation: https://github.com/pascomnet/nomad-driver-podman
#   Releases: https://github.com/pascomnet/nomad-driver-podman/releases
plugin "nomad-driver-podman" {
  config {
    volumes {
      enabled      = true
      selinuxlabel = "z"
    }
    gc {
      container = {{ plugin_podman_gc | default('true') | bool | lower }}
    }
  }
}

{% else %}
# INFO: 'podman' plugin NOT enabled in nomad
{% endif %}

################################################################################
# {{ ansible_managed }}
################################################################################
